<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="file text icon"></i> <%= @page_title %></h1>
  </div>
    <div class="eight wide column">
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'assessments', action: 'list'}) %>">Vulnerabilities</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="eight wide column">
    <h2 class="ui top attached header">Asset Informations</h2>
    <div class="ui attached violet segment">
      <table class="ui compact sortable celled table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Vendor</th>
            <th>Name</th>
            <th>Version</th>
            <th>Type</th>
            <th>Vulnerable</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td><%= @assessment.asset.id %></td>
            <td><%= @assessment.asset.wfn_vendor %></td>
            <td><%= @assessment.asset.wfn_product %></td>
            <td><%= @assessment.asset.wfn_version %></td>
            <td><%= asset_type(@assessment.asset.wfn_part) %></td>
            <td>n/a</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="eight wide column">
    <h2 class="ui top attached header">Vulnerability metadata</h2>
    <div class="ui attached violet segment">
      <table class="ui compact sortable celled table">
        <thead>
          <tr>
            <th>CVE ID</th>
            <th>CVE Name</th>
            <th>Published</th>
            <th>Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @assessment.cve.id %></td>
            <td class="selectable"><a href="<%= url_for({ controller: 'vulnerabilities', action: 'details', year: @assessment.cve.year, digits: @assessment.cve.digits }) %>"><%= "CVE-#{@assessment.cve.year}-#{@assessment.cve.digits}" %></td>
            <td><%= @assessment.cve.published_date.strftime('%B %d, %Y') %></td>
            <td><%= @assessment.cve.modified_date.strftime('%B %d, %Y') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="ten wide column">
    <h2 class="ui top attached header">Description</h2>
    <div class="ui attached segment">
      <% @assessment.descriptions.each do |description| %>
      <div class="ui vertical segment">
        <p><%= description.value %></p>
      </div>
      <% end %>
    </div>
  </div>
  <!-- CVE Scoring summary -->
  <div class="six wide column">
    <h2 class="ui top attached header">Score summary</h2>
    <div class="ui attached segment">
      <div class="ui two statistics">
      <% if !@assessment.cvssv3.nil? && @assessment.cvssv3.valid? %>
      <div class="<%= cvssv3_rating(@assessment.cvssv3.overall_score)[:color] %> statistic" data-tooltip="<%= cvssv3_rating(@assessment.cvssv3.overall_score)[:name] %>" data-position="bottom center" data-inverted="">
        <div class="value"><%= @assessment.cvssv3.overall_score %></div>
        <div class="label">CVSSv3</div>
      </div>
      <% else %>
      <div class="grey statistic">
        <div class="value">n/a</div>
        <div class="label">CVSSv3</div>
      </div>
      <% end %>
      <% if !@assessment.cvssv2.nil? && @assessment.cvssv2.valid? %>
      <div class="<%= cvssv2_rating(@assessment.cvssv2.overall_score)[:color] %> statistic"  data-tooltip="<%= cvssv2_rating(@assessment.cvssv2.overall_score)[:name] %>" data-position="bottom center" data-inverted="">
        <div class="value"><%= @assessment.cvssv2.overall_score %></div>
        <div class="label">CVSSv2</div>
      </div>
      <% else %>
      <div class="grey statistic">
        <div class="value">n/a</div>
        <div class="label">CVSSv2</div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- CVSS Metrics Details -->
<div class="row">
  <div class="sixteen wide column">
    <div class="ui top attached tabular menu">
      <% if !@assessment.cvssv3.nil? && @assessment.cvssv3.valid? %>
      <div class="active item" data-tab="cvssv3">CVSSv3</div>
      <% end %>
      <% if !@assessment.cvssv2.nil? && @assessment.cvssv2.valid? %>
      <div class="<%= 'active' unless !@assessment.cvssv3.nil? && @assessment.cvssv3.valid? %> item" data-tab="cvssv2">CVSSv2</div>
      <% end %>
    </div>
    <!-- CVSSv3 Metrics Details -->
    <% if !@assessment.cvssv3.nil? && @assessment.cvssv3.valid? %>
    <div class="ui bottom attached tab active segment" data-tab="cvssv3">
      <!-- CVSSv3 Score -->
      <h3>CVSSv3 Severity : <%= cvssv3_rating(@assessment.cvssv3.overall_score)[:name] %></h3>
      <div class="ui three column very relaxed grid">
        <div class="row">
          <!-- CVSSv3 Exploitability -->
          <div class="column">
            <h4>Exploitability</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.attack_vector.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.attack_vector.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.attack_vector.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.attack_complexity.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.attack_complexity.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.attack_complexity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.privileges_required.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.privileges_required.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.privileges_required.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.user_interaction.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.user_interaction.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.user_interaction.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv3 Impact -->
          <div class="column">
            <h4>Impact</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.confidentiality.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.confidentiality.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.confidentiality.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.integrity.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.integrity.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.integrity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.availability.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.availability.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.availability.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.base.scope.abbreviation %></div>
                    <%=  @assessment.cvssv3.base.scope.name %>
                  </td>
                  <td><%= @assessment.cvssv3.base.scope.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv3 Temporal -->
          <div class="column">
            <h4>Temporal</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.temporal.exploit_code_maturity.abbreviation %></div>
                    <%=  @assessment.cvssv3.temporal.exploit_code_maturity.name %>
                  </td>
                  <td><%= @assessment.cvssv3.temporal.exploit_code_maturity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.temporal.remediation_level.abbreviation %></div>
                    <%=  @assessment.cvssv3.temporal.remediation_level.name %>
                  </td>
                  <td><%= @assessment.cvssv3.temporal.remediation_level.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv3.temporal.report_confidence.abbreviation %></div>
                    <%=  @assessment.cvssv3.temporal.report_confidence.name %>
                  </td>
                  <td><%= @assessment.cvssv3.temporal.report_confidence.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if !@assessment.cvssv2.nil? && @assessment.cvssv2.valid? %>
    <!-- CVSSv2 Metrics Details -->
    <div class="ui bottom attached tab <%= 'active' unless !@assessment.cvssv3.nil? && @assessment.cvssv3.valid? %> segment" data-tab="cvssv2">
      <!-- CVSSv2 Score -->
      <h3>CVSSv2 Severity : <%= cvssv3_rating(@assessment.cvssv2.overall_score)[:name] %></h3>
      <div class="ui three column very relaxed grid">
        <div class="row">
          <!-- CVSSv2 Exploitability -->
          <div class="column">
            <h4>Exploitability</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.base.access_vector.abbreviation %></div>
                    <%=  @assessment.cvssv2.base.access_vector.name %>
                  </td>
                  <td><%= @assessment.cvssv2.base.access_vector.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.base.access_complexity.abbreviation %></div>
                    <%=  @assessment.cvssv2.base.access_complexity.name %>
                  </td>
                  <td><%= @assessment.cvssv2.base.access_complexity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.base.authentication.abbreviation %></div>
                    <%=  @assessment.cvssv2.base.authentication.name %>
                  </td>
                  <td><%= @assessment.cvssv2.base.authentication.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv2 Impact -->
          <div class="column">
            <h4>Impact</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.base.confidentiality_impact.abbreviation %></div>
                    <%=  @assessment.cvssv2.base.confidentiality_impact.name %>
                  </td>
                  <td><%= @assessment.cvssv2.base.confidentiality_impact.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.base.integrity_impact.abbreviation %></div>
                    <%=  @assessment.cvssv2.base.integrity_impact.name %>
                  </td>
                  <td><%= @assessment.cvssv2.base.integrity_impact.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.base.availability_impact.abbreviation %></div>
                    <%=  @assessment.cvssv2.base.availability_impact.name %>
                  </td>
                  <td><%= @assessment.cvssv2.base.availability_impact.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv2 Temporal -->
          <div class="column">
            <h4>Temporal</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.temporal.exploitability.abbreviation %></div>
                    <%=  @assessment.cvssv2.temporal.exploitability.name %>
                  </td>
                  <td><%= @assessment.cvssv2.temporal.exploitability.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.temporal.remediation_level.abbreviation %></div>
                    <%=  @assessment.cvssv2.temporal.remediation_level.name %>
                  </td>
                  <td><%= @assessment.cvssv2.temporal.remediation_level.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @assessment.cvssv2.temporal.report_confidence.abbreviation %></div>
                    <%=  @assessment.cvssv2.temporal.report_confidence.name %>
                  </td>
                  <td><%= @assessment.cvssv2.temporal.report_confidence.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if !(!@assessment.cvssv3.nil? && @assessment.cvssv3.valid?) && !(!@assessment.cvssv2.nil? && @assessment.cvssv2.valid?) %>
    <!-- No CVSS details -->
    <div class="ui warning message">
      <div class="header">No CVSS data</div>
      <p>This vulnerability provides no CVSS details.</p>
    </div>
    <%end %>
  </div>
</div>
