<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="file text icon"></i> Assessments</h1>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <h2>Search assessments</h2>
    <form action="<%= url_for({ controller: 'hosts', action: 'list'}) %>" method="get">
      <div class="ui fluid action input">
        <input placeholder="Search request..." type="text" name="request" value="">
        <button class="ui violet right labeled icon button" type="submit">
          <i class="search icon"></i>
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div class="ui divider"></div>
<div class="row">
  <div class="six wide column">
    <h2 class="ui top attached header">Number of assessments</h2>
    <div class="ui attached violet segment" align="center">
      <div class="chart-container" style="width:100%">
        <%= line_chart @data, @options %>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <h2 class="ui top attached header">Subnetwork assessment history</h2>
    <div class="ui attached violet segment" align="center">
      <div class="ui grid">
        <div class="row">
          <div class="ten wide column">
            <div class="chart-container" style="width:100%">
              <%= line_chart @data_subnetwork, @options_subnetwork %>
            </div>
          </div>
          <div class="six wide column">
            <label>Select subnetwork...</label>
            <div class="ui form">
              <div class="field">
                <select name="subnetwork_select" class="ui dropdown" id="select">
                  <option value="1" selected>LAN - Admin</option>
                  <option value="2">LAN - Bureautique</option>
                  <option value="3">LAN - Atelier</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="row">
  <div class="sixteen wide column">
    <h2 class="ui top attached header">Last assessments</h2>
    <div class="ui attached violet segment">
      <div style="text-align:right;">
        <%= page_entries_info @assessment_list %>
      </div>
      <table class="ui violet compact sortable celled table">
        <thead>
          <tr>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Hostname</th>
            <th>IP</th>
            <th>Subnetwork</th>
            <th>CVE</th>
            <th>CVSS Severity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @assessments.each do |assessment| %>
            <td class="selectable"><a href="<%= url_for({ controller: 'assessments', action: 'details', year: assessment.cve.year, digits: assessment.cve.digits, id: assessment.asset }) %>"><%= assessment.asset.id %></a></td>
            <td><%= assessment.asset.wfn_product %></td>
            <td><%= assessment.host.hostname %></td>
            <td><%= assessment.host.inet4_addr %></td>
            <td><%= assessment.host.inet4_mask %></td>
            <td class="selectable"><a href="<%= url_for({ controller: 'vulnerabilities', action: 'details', year: assessment.cve.year, digits: assessment.cve.digits }) %>"><%= "CVE-#{assessment.cve.year}-#{assessment.cve.digits}" %></td>
              <td class="collapsing">
                <% if !assessment.cvssv3.nil? && assessment.cvssv3.valid? %>
                <a class="ui <%= cvssv3_rating(assessment.cvssv3.overall_score)[:color] %> label"  data-tooltip="<%= cvssv3_rating(assessment.cvssv3.overall_score)[:name] %>" data-position="bottom center" data-inverted>
                  CVSSv3
                  <div class="detail"><%= "%05.2f" % assessment.cvssv3.overall_score %></div>
                </a>
                <% else %>
                <a class="ui label">
                  CVSSv3
                  <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
                </a>
                <% end %>
                <% if !assessment.cvssv2.nil? && assessment.cvssv2.valid? %>
                <a class="ui <%= cvssv2_rating(assessment.cvssv2.overall_score)[:color] %> label"  data-tooltip="<%= cvssv2_rating(assessment.cvssv2.overall_score)[:name] %>" data-position="bottom center" data-inverted>
                  CVSSv2
                  <div class="detail"><%= "%05.2f" % assessment.cvssv2.overall_score %></div>
                </a>
                <% else %>
                <a class="ui label">
                  CVSSv2
                  <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
                </a>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div style="text-align:right;">
      <%= will_paginate(@assessment_list) %>
    </div>
  </div>
</div>
