<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="desktop icon"></i> Hosts</h1>
  </div>
  <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
      <div class="right menu">
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'metrics_form'}) %>">
          <i class="configure icon"></i>
          Configure metrics
        </a>
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'import_form'}) %>">
          <i class="upload icon"></i>
          Import assets
        </a>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'hosts', action: 'list'}) %>">Hosts</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="five wide column">
    <h2 class="ui top attached header">Informations of Host <%= params[:id] %></h2>
    <!-- TODO: Change title by Hostname if set ? -->
    <div class="ui attached segment">
      <table class="ui very basic table">
        <tbody>
          <tr>
            <td><b>Name</b></td>
            <td><%= @host.host.hostname %></td>
          </tr>
          <tr>
            <td><b>IP Address</b></td>
            <td><%= @host.host.inet4_addr %></td>
          </tr>
          <tr>
            <td><b>IP Mask</b></td>
            <td><%= @host.host.inet4_mask %></td>
          <tr>
            <td><b>Subnetwork</b></td>
            <td><%= IPAddr.new("#{@host.host.inet4_addr}/#{@host.host.inet4_mask}").to_string %></td>
          </tr>
          <tr>
            <td><b>CVSS Severity</b></td>
            <td>
              <a class="ui label">
                CVSSv3
                <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
              </a>
              <a class="ui label">
                CVSSv2
                <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="five wide column">
    <h2 class="ui top attached header">Agent info</h2>
    <div class="ui attached segment">
      <table class="ui very basic table">
        <tbody>
          <tr>
            <td>Agent version</td>
            <td><%= "#{@host.host.source_name} #{@host.host.source_version}" %></td>
          </tr>
          <tr>
            <td>Last update</td>
            <td><%= @host.host.source_date %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="six wide column" align="center">
    <h2 class="ui top attached header">Number of CVE by criticity found on this host</h2>
    <div class="ui attached segment">
      <div class="chart-container" style="width:60%">
        <%= pie_chart @data, @options %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui divider"></div>
    <h2 class="ui top attached header">Assessment summary</h2>
    <div class="ui attached violet segment">
      <table class="ui compact sortable celled table">
        <thead>
          <tr>
            <th>CVE</th>
            <th>Score</th>
            <th>Date</th>
            <th>Asset name &amp; version</th>
          </tr>
        </thead>
        <tbody>
          <% @host.assessments.each do |assessment| %>
          <td class="selectable"><a href="<%= url_for({ controller: 'assessments', action: 'details', year: assessment.cve.year, digits: assessment.cve.digits, id: assessment.asset }) %>"><%= "CVE-#{assessment.cve.year}-#{assessment.cve.digits}" %></a></td>
          <td class="collapsing">
            <a class="ui label">
              CVSSv3
              <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
            </a>
            <a class="ui label">
              CVSSv2
              <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
            </a>
          </td>
          <td><%= assessment.date %></td>
          <td><%= assessment.asset.wfn_product %> <%= assessment.asset.wfn_version %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <h2 class="ui top attached header">Asset list</h2>
    <div class="ui attached violet segment">
      <table class="ui compact sortable celled table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Vendor</th>
            <th>Name</th>
            <th>Version</th>
            <th>Type</th>
            <th>Vulnerable</th>
          </tr>
        </thead>
        <tbody>
          <% @host.assets.each do |asset| %>
          <tr>
            <td><%= asset.id %></td>
            <td><%= asset.wfn_vendor %></td>
            <td><%= asset.wfn_product %></td>
            <td><%= asset.wfn_version %></td>
            <td><%= asset_type(asset.wfn_part) %></td>
            <td>n/a</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
