<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="computer icon"></i> Import Assets list</h1>
  </div>
  <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
      <div class="right menu">
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'metrics_form'}) %>">
          <i class="configure icon"></i>
          Configure metrics
        </a>
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'import_form'}) %>">
          <i class="upload icon"></i>
          Import assets
        </a>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'hosts', action: 'list'}) %>">Hosts</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui container">
      <!-- Status -->
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">Error occurred while importing the file</div>
        <p>This feature is currently not supported</p>
      </div>
    </div>
  </div>
</div>
