<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="computer icon"></i> Import Assets list</h1>
  </div>
  <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
      <div class="right menu">
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'metrics_form'}) %>">
          <i class="configure icon"></i>
          Configure metrics
        </a>
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'import_form'}) %>">
          <i class="upload icon"></i>
          Import assets
        </a>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'hosts', action: 'list'}) %>">Hosts</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui container">
      <!-- Sources -->
      <h2 class="ui top attached header">Format</h2>
      <div class="ui attached segment">
        <p>This feature is currently in development. There is no supported file format.</p>
      </div>
      <!-- Import form -->
      <%= form_tag({action: :import_result}, multipart: true) do %>
      <h2 class="ui top attached header">Import form</h2>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="field">
          <label for="asset_definition">Asset list</label>
            <input type="file" name="asset_definition" id="asset_definition" required>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment" style="text-align:right;">
        <button class="ui violet button" type="submit">Upload</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
