<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="desktop icon"></i> Hosts</h1>
  </div>
  <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
      <div class="right menu">
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'metrics_form'}) %>">
          <i class="configure icon"></i>
          Configure metrics
        </a>
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'import_form'}) %>">
          <i class="upload icon"></i>
          Import assets
        </a>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="nine wide column">
    <h2>Search host</h2>
    <form action="<%= url_for({ controller: 'hosts', action: 'list'}) %>" method="get">
      <div class="ui fluid action input">
        <input placeholder="Search request..." type="text" name="request" value="">
        <button class="ui violet right labeled icon button" type="submit">
          <i class="search icon"></i>
          Search
        </button>
      </div>
    </form>
  </div>
  <div class="seven wide column">
    <h2>Agents statistics</h2>
    <div class="ui three tiny statistics">
      <div class="statistic">
        <div class="value"><%= @count_agents %></div>
        <div class="label">Working agents</div>
      </div>
      <div class="statistic">
        <div class="value"><%= @count_assets %></div>
        <div class="label">Assets sent by agent</div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="clock icon"></i> <%= @last_time_agent %>
        </div>
        <div class="label">Last time agent seen</div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="row">
  <div class="sixteen wide column">
    <div style="text-align:right;">
      <%= page_entries_info @host_list %>
    </div>
    <table class="ui violet compact sortable celled table">
      <thead>
        <tr>
          <th>Host ID</th>
          <th>Hostname</th>
          <th>IP Address</th>
          <th>Subnetwork</th>
          <th>OS</th>
          <th>CVSS Severity</th>
        </tr>
      </thead>
      <tbody>
        <% @hosts.each do |host| %>
        <tr>
          <td class="selectable"><a href="<%= url_for({ controller: 'hosts', action: 'details', id: host.host.id }) %>"><%= host.host.id %></a></td>
          <td class="collapsing"><%= host.host.hostname %></td>
          <td class="collapsing"><%= host.host.inet4_addr %></td>
          <td class="collapsing"><%= IPAddr.new("#{host.host.inet4_addr}/#{host.host.inet4_mask}").to_string %></td>
          <td>
            <% host.assets_os.each do |asset| %>
            <a class="ui label">
              <i class="<%= asset_logo(asset.wfn_product)[:icon] %> icon"></i>
              <%= asset.wfn_product %>
            </a>
            <% end %>
          </td>
          <td class="right aligned collapsing">
            <a class="ui label">
              CVSSv3
              <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
            </a>
            <a class="ui label">
              CVSSv2
              <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div style="text-align:right;">
      <%= will_paginate(@host_list) %>
    </div>
  </div>
</div>
