<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="options icon"></i> Configure Metrics</h1>
  </div>
  <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
      <div class="right menu">
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'metrics_form'}) %>">
          <i class="configure icon"></i>
          Configure metrics
        </a>
        <a class="right floated item" href="<%= url_for({ controller: 'hosts', action: 'import_form'}) %>">
          <i class="upload icon"></i>
          Import assets
        </a>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'hosts', action: 'list'}) %>">Hosts</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui container">
      <!-- Global system form -->
      <%= form_tag({action: :metrics_result}, multipart: true) do %>
      <h2 class="ui top attached header">Global environment metrics</h2>
      <div class="ui attached segment">
        <div class="ui info message">
          <p>These parameter allow you to configure the security requirements applying to the whole system. It is related to the environmental metrics defined by the Common Vulnerability Scoring System standard. See <a ref="https://www.first.org/cvss/" target="_blank">CVSS website</a>.</p>
        </div>
        <h4>Security requirements</h4>
        <div class="ui form">
          <div class="three fields">
            <div class="field">
              <div class="label">Confidentiality Requirement (CR)</div>
              <%= select_tag(:CR,options_for_select([['Not Defined', 'X'], ['High', 'H'], ['Medium', 'M'], ['Low', 'L']], 'X')) %>
            </div>
            <div class="field">
              <div class="label">Integrity Requirement (IR)</div>
              <%= select_tag(:IR,options_for_select([['Not Defined', 'X'], ['High', 'H'], ['Medium', 'M'], ['Low', 'L']], 'X')) %>
            </div>
            <div class="field">
              <div class="label">Availability Requirement (AR)</div>
              <%= select_tag(:AR,options_for_select([['Not Defined', 'X'], ['High', 'H'], ['Medium', 'M'], ['Low', 'L']], 'X')) %>
            </div>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment" style="text-align:right;">
        <button class="ui violet button" type="submit">Save</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
