<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="bug icon"></i> <%= @page_title %></h1>
  </div>
    <div class="eight wide column">
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'vulnerabilities', action: 'list'}) %>">Vulnerabilities</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <!-- CVE Description -->
  <div class="ten wide column">
    <h2 class="ui top attached header">Description</h2>
    <div class="ui attached segment">
      <% @vulnerability.descriptions.each do |description| %>
      <div class="ui vertical segment">
        <p><%= description.value %></p>
      </div>
      <% end %>
    </div>
    <div class="ui bottom attached segment" style="text-align:right;">
      <a class="ui label">
        Published
        <div class="detail"><%= @vulnerability.cve.published_date.strftime('%B %d, %Y') %></div>
      </a>
      <a class="ui grey label">
        Updated
        <div class="detail"><%= @vulnerability.cve.modified_date.strftime('%B %d, %Y') %></div>
      </a>
    </div>
  </div>
  <!-- CVE Scoring summary -->
  <div class="six wide column">
    <h2 class="ui top attached header">Score summary</h2>
    <div class="ui attached segment">
      <div class="ui two statistics">
      <% if !@vulnerability.cvssv3.nil? && @vulnerability.cvssv3.valid? %>
      <div class="<%= cvssv3_rating(@vulnerability.cvssv3.overall_score)[:color] %> statistic" data-tooltip="<%= cvssv3_rating(@vulnerability.cvssv3.overall_score)[:name] %>" data-position="bottom center" data-inverted="">
        <div class="value"><%= @vulnerability.cvssv3.overall_score %></div>
        <div class="label">CVSSv3</div>
      </div>
      <% else %>
      <div class="grey statistic">
        <div class="value">n/a</div>
        <div class="label">CVSSv3</div>
      </div>
      <% end %>
      <% if !@vulnerability.cvssv2.nil? && @vulnerability.cvssv2.valid? %>
      <div class="<%= cvssv2_rating(@vulnerability.cvssv2.overall_score)[:color] %> statistic"  data-tooltip="<%= cvssv2_rating(@vulnerability.cvssv2.overall_score)[:name] %>" data-position="bottom center" data-inverted="">
        <div class="value"><%= @vulnerability.cvssv2.overall_score %></div>
        <div class="label">CVSSv2</div>
      </div>
      <% else %>
      <div class="grey statistic">
        <div class="value">n/a</div>
        <div class="label">CVSSv2</div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- CVSS Metrics Details -->
<div class="row">
  <div class="sixteen wide column">
    <div class="ui top attached tabular menu">
      <% if !@vulnerability.cvssv3.nil? && @vulnerability.cvssv3.valid? %>
      <div class="active item" data-tab="cvssv3">CVSSv3</div>
      <% end %>
      <% if !@vulnerability.cvssv2.nil? && @vulnerability.cvssv2.valid? %>
      <div class="<%= 'active' unless !@vulnerability.cvssv3.nil? && @vulnerability.cvssv3.valid? %> item" data-tab="cvssv2">CVSSv2</div>
      <% end %>
    </div>
    <!-- CVSSv3 Metrics Details -->
    <% if !@vulnerability.cvssv3.nil? && @vulnerability.cvssv3.valid? %>
    <div class="ui bottom attached tab active segment" data-tab="cvssv3">
      <!-- CVSSv3 Score -->
      <h3>CVSSv3 Severity : <%= cvssv3_rating(@vulnerability.cvssv3.overall_score)[:name] %></h3>
      <div class="ui three column very relaxed grid">
        <div class="row">
          <!-- CVSSv3 Exploitability -->
          <div class="column">
            <h4>Exploitability</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.attack_vector.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.attack_vector.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.attack_vector.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.attack_complexity.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.attack_complexity.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.attack_complexity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.privileges_required.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.privileges_required.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.privileges_required.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.user_interaction.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.user_interaction.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.user_interaction.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv3 Impact -->
          <div class="column">
            <h4>Impact</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.confidentiality.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.confidentiality.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.confidentiality.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.integrity.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.integrity.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.integrity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.availability.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.availability.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.availability.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.base.scope.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.base.scope.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.base.scope.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv3 Temporal -->
          <div class="column">
            <h4>Temporal</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.temporal.exploit_code_maturity.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.temporal.exploit_code_maturity.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.temporal.exploit_code_maturity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.temporal.remediation_level.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.temporal.remediation_level.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.temporal.remediation_level.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv3.temporal.report_confidence.abbreviation %></div>
                    <%=  @vulnerability.cvssv3.temporal.report_confidence.name %>
                  </td>
                  <td><%= @vulnerability.cvssv3.temporal.report_confidence.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if !@vulnerability.cvssv2.nil? && @vulnerability.cvssv2.valid? %>
    <!-- CVSSv2 Metrics Details -->
    <div class="ui bottom attached tab <%= 'active' unless !@vulnerability.cvssv3.nil? && @vulnerability.cvssv3.valid? %> segment" data-tab="cvssv2">
      <!-- CVSSv2 Score -->
      <h3>CVSSv2 Severity : <%= cvssv3_rating(@vulnerability.cvssv2.overall_score)[:name] %></h3>
      <div class="ui three column very relaxed grid">
        <div class="row">
          <!-- CVSSv2 Exploitability -->
          <div class="column">
            <h4>Exploitability</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.base.access_vector.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.base.access_vector.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.base.access_vector.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.base.access_complexity.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.base.access_complexity.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.base.access_complexity.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.base.authentication.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.base.authentication.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.base.authentication.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv2 Impact -->
          <div class="column">
            <h4>Impact</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.base.confidentiality_impact.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.base.confidentiality_impact.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.base.confidentiality_impact.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.base.integrity_impact.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.base.integrity_impact.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.base.integrity_impact.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.base.availability_impact.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.base.availability_impact.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.base.availability_impact.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- CVSSv2 Temporal -->
          <div class="column">
            <h4>Temporal</h4>
            <table class="ui very basic table">
              <tbody>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.temporal.exploitability.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.temporal.exploitability.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.temporal.exploitability.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.temporal.remediation_level.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.temporal.remediation_level.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.temporal.remediation_level.selected_choice[:name] %></td>
                </tr>
                <tr>
                  <td>
                    <div class="ui tiny grey horizontal label"><%=  @vulnerability.cvssv2.temporal.report_confidence.abbreviation %></div>
                    <%=  @vulnerability.cvssv2.temporal.report_confidence.name %>
                  </td>
                  <td><%= @vulnerability.cvssv2.temporal.report_confidence.selected_choice[:name] %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if !(!@vulnerability.cvssv3.nil? && @vulnerability.cvssv3.valid?) && !(!@vulnerability.cvssv2.nil? && @vulnerability.cvssv2.valid?) %>
    <!-- No CVSS details -->
    <div class="ui warning message">
      <div class="header">No CVSS data</div>
      <p>This vulnerability provides no CVSS details.</p>
    </div>
    <%end %>
  </div>
</div>
<div class="row">
  <!-- CVE Affected products -->
  <div class="eight wide column">
    <h2 class="ui top attached header">Affected products</h2>
    <div class="ui attached segment">
      <table class="ui simple table">
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Product</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
  <!-- CVE References -->
  <div class="eight wide column">
    <h2 class="ui top attached header">References</h2>
    <div class="ui attached segment">
      <table class="ui simple table">
        <thead>
          <th>Resource address</th>
        </thead>
        <tbody>
          <% @vulnerability.references.each do |reference| %>
          <tr>
            <td><i class="external icon"></i><a target="_blank" href="<%= reference.href %>"><%= reference.href %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <!-- Source Metadata -->
  <div class="sixteen wide column">
    <p style="text-align:right;">
      Source :  <%= "#{@vulnerability.cve.source_type}/#{@vulnerability.cve.source_format}" %>, Updated:  <%= @vulnerability.cve.source_date.strftime('%FT%R') %>
    </p>
  </div>
</div>
