<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="bug icon"></i> Import CVE list</h1>
  </div>
    <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <a class="section" href="<%= url_for({ controller: 'vulnerabilities', action: 'list'}) %>">Vulnerabilities</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui container">
      <!-- Sources -->
      <h2 class="ui top attached header">Sources</h2>
      <div class="ui attached segment">
          <p>CANVAS's assessment system is based on the National Vulnerability Database. Vulnerability data feed can be downloaded from NVD website. As the NVD pointed out data feeds should be used to stay synchronized :</p>
          <p>"After performing a one-time import of the complete data set using the compressed vulnerability feeds, the "modified" feeds should be used to keep up-to-date. The META file should be used to determine if the compressed "modified" feed has been updated since your last import."</p>
      </div>
      <div class="ui attached segment">
<p>Currently only JSON feeds are supported : <a href="https://nvd.nist.gov/vuln/data-feeds#JSON_FEED" target="_blank">NVD JSON data feeds</a></p>
      </div>
      <!-- Import form -->
      <%= form_tag({action: :import_result}, multipart: true) do %>
      <h2 class="ui top attached header">Import form</h2>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="field">
          <label for="cve_definition">Cve list</label>
            <input type="file" name="cve_definition" id="cve_definition" required>
          </div>
        </div>
      </div>
      <div class="ui bottom attached segment" style="text-align:right;">
        <button class="ui violet button" type="submit">Upload</button>
      </div>
      <% end %>
      <!-- Last five-imports -->
      <h2 class="ui top attached header">Last-five imports</h2>
      <div class="ui attached segment">
        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>Import date</th>
              <th>Filename</th>
              <th>File last modified date</th>
              <th>File hash</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="collapsing"></td>
              <td></td>
              <td></td>
              <td class="right aligned collapsing">
                <div class="ui mini input">
                  <input type="text" value="">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
