<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="bug icon"></i> Vulnerabilities</h1>
  </div>
    <div class="eight wide column">
    <div class="ui attached borderless labeled icon menu">
      <div class="right menu">
        <a class="right floated item" href="<%= url_for({ controller: 'vulnerabilities', action: 'import_form'}) %>">
          <i class="upload icon"></i>
          Import CVE
        </a>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <h2>Search CVE</h2>
    <form action="<%= url_for({ controller: 'vulnerabilities', action: 'list'}) %>" method="get">
      <div class="ui fluid action input">
        <input placeholder="Search request..." type="text" name="request" value="">
        <button class="ui violet right labeled icon button" type="submit">
          <i class="search icon"></i>
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div class="ui divider"></div>
<div class="row">
  <div class="sixteen wide column">
    <div style="text-align:right;">
      <%= page_entries_info @cve_list %>
    </div>
    <table class="ui violet compact selectable sortable celled table">
      <thead>
        <tr>
          <th>Updated</th>
          <th>CVE Id</th>
          <th>CVSS Severity</th>
        </tr>
      </thead>
      <tbody>
        <% @vulnerabilities.each do |vulnerability| %>
        <tr>
          <td class="collapsing"><%= vulnerability.cve.modified_date.strftime('%B %d, %Y') %></td>
          <td><%= link_to("CVE-#{vulnerability.cve.year}-#{vulnerability.cve.digits}", { controller: 'vulnerabilities', action: 'details', year: vulnerability.cve.year, digits: vulnerability.cve.digits }) %></td>
          <td class="right aligned collapsing">
            <% if !vulnerability.cvssv3.nil? && vulnerability.cvssv3.valid? %>
            <a class="ui <%= cvssv3_rating(vulnerability.cvssv3.overall_score)[:color] %> label"  data-tooltip="<%= cvssv3_rating(vulnerability.cvssv3.overall_score)[:name] %>" data-position="bottom center" data-inverted>
              CVSSv3
              <div class="detail"><%= "%05.2f" % vulnerability.cvssv3.overall_score %></div>
            </a>
            <% else %>
            <a class="ui label">
              CVSSv3
              <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
            </a>
            <% end %>
            <% if !vulnerability.cvssv2.nil? && vulnerability.cvssv2.valid? %>
            <a class="ui <%= cvssv2_rating(vulnerability.cvssv2.overall_score)[:color] %> label"  data-tooltip="<%= cvssv2_rating(vulnerability.cvssv2.overall_score)[:name] %>" data-position="bottom center" data-inverted>
              CVSSv2
              <div class="detail"><%= "%05.2f" % vulnerability.cvssv2.overall_score %></div>
            </a>
            <% else %>
            <a class="ui label">
              CVSSv2
              <div class="detail">&nbsp;&nbsp;&nbsp;n/a&nbsp;&nbsp;&nbsp;</div>
            </a>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div style="text-align:right;">
      <%= will_paginate(@cve_list) %>
    </div>
  </div>
</div>
