<div id="dashboard_content_title" class="row">
  <div class="eight wide column">
    <h1><i class="area chart icon"></i> Summary</h1>
  </div>
</div>
<div id="dashboard_content_menu" class="row">
  <div class="ui attached secondary menu">
    <div class="item">
      <nav class="ui small breadcrumb">
        <i class="home icon"></i>
        <a class="section" href="<%= root_path %>">Home</a>
        <span class="divider">/</span>
        <span class="active section"><%= @page_title %></span>
      </nav>
    </div>
    <div class="right menu">
      <a class="item" href="#"><i class="help circle icon"></i> Help</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="three wide column">
    <h2 class="ui top attached header">Statistics</h2>
    <div class="ui attached violet segment" align="center">
      <div class="ui one tiny statistics">
        <div class="statistic">
          <div class="value">
            <i class="desktop icon"></i> <%= @hosts_stats_number %>
          </div>
          <div class="label">
            Hosts
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="ui one tiny statistics">
        <div class="statistic">
          <div class="value">
            <i class="bug icon"></i> <%= @vulnerabilities_stats_number %>
          </div>
          <div class="label">
            CVE
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="ui one tiny statistics">
        <div class="statistic">
          <div class="value">
            <i class="file text icon"></i> <%= @assessments_stats_number %>
          </div>
          <div class="label">
            Assessments
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <h2 class="ui top attached header">Recent entries</h2>
    <div class="ui attached violet segment">
      <div class="ui top attached tabular menu">
        <div class="active item" data-tab="assessments">Assessments</div>
        <div class="item" data-tab="hosts">Hosts</div>
        <div class="item" data-tab="vulnerabilities">Vulnerabilities</div>
      </div>
      <div class="ui bottom attached tab active segment" data-tab="assessments">
        <table class="ui violet table">
          <tbody>
            <% list_assessment = Assessment.order(date: :desc).limit(5).each do |one_assessment| %>
            <tr><td class="selectable"><a href="<%= url_for({ controller: 'assessments', action: 'details', year: one_assessment.year, digits: one_assessment.digits, id: one_assessment.asset }) %>"><%= "Assessment CVE-#{one_assessment.year}-#{one_assessment.digits} - #{one_assessment.asset.wfn_product}" %></a></td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="ui bottom attached tab segment" data-tab="hosts">
        <table class="ui violet table">
          <tbody>
          <% list_host = Host.order(source_date: :desc, id: :asc).limit(5).each do |one_host| %>
          <tr><td class="selectable"><a href="<%= url_for({ controller: 'hosts', action: 'details', id: one_host.id }) %>"><%= "Host #{one_host.id} - #{one_host.hostname}" %></td></tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div class="ui bottom attached tab segment" data-tab="vulnerabilities">
        <table class="ui violet table">
          <tbody>
          <% list_cve = Cve.order(published_date: :desc).limit(5).each do |one_cve| %>
          <tr><td class="selectable"><a href="<%= url_for({controller: 'vulnerabilities', action: 'details', year:one_cve.year, digits:one_cve.digits }) %>"><%= "CVE-#{one_cve.year}-#{one_cve.digits}" %></td></tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="seven wide column">
    <h2 class="ui top attached header">Criticity of assessments</h2>
    <div class="ui attached violet segment" align="center">
      <div class="chart-container" style="width:100%">
        <%= pie_chart @data, @options %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <h2 class="ui top attached header">History</h2>
    <div class="ui attached violet segment" align="center">
      <div class="chart-container" style="width:100%">
        <%= column_chart Assessment.group_by_month(:date).count %>
      </div>
    </div>
  </div>
</div>
