@charset "UTF-8";
/*
 * Copyright 2017-11-24
 * Remy BOISSEZON boissezon.remy@gmail.com
 * Valentin PRODHOMME valentin@prodhomme.me
 * Dylan TROLES chill3d@protonmail.com
 * Alexandre ZANNI alexandre.zanni@engineer.com
 *
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 */

#dashboard_content_title {
  background-color: #ffffff;
}

#dashboard_content_title h1 {
  margin: 25px 0px 10px 20px;
}

#dashboard_content_title .menu {
  border: none;
}

#dashboard_content_title .menu .item {
  color: #4183c4;
}

#dashboard_content_menu {
  padding-top: 0px;
}

#dashboard_content_menu .menu {
  background-color: #fcfcfc;
}
