@charset "UTF-8";
/*
 * Copyright 2017-11-24
 * Remy BOISSEZON boissezon.remy@gmail.com
 * Valentin PRODHOMME valentin@prodhomme.me
 * Dylan TROLES chill3d@protonmail.com
 * Alexandre ZANNI alexandre.zanni@engineer.com
 *
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 */

 body {
   background-color: #f5f5f5;
 }

 #dashboard_navigation {
   z-index: 101;
   padding-top: 51px;
   margin: 0px;
   width: 240px;
   height: auto;
   min-height: 100%;
   background-color: #263238;
 }

 #dashboard_navigation .item {
   padding-left: 20px;
   padding-right: 20px;
 }

 #dashboard_navigation .item.active {
   background-color: #5a30b5;
 }

 #dashboard_navigation .item.header {
   color: rgba(255, 255, 255, 0.5);
   font-size: 0.8rem;
   padding-top: 30px;
   padding-bottom: 15px;
   text-transform: uppercase;
 }

 #dashboard_status {
   z-index: 102;
   background-color: #37474f;
   box-shadow: 0px -1px 0px 1px #495f69 inset;
 }

 #dashboard_status #dashboard_logo {
   width: 240px;
 }

 #dashboard_status #dashboard_logo img {
   height: 25px;
 }

 #dashboard_content {
   padding-top: 51px;
   margin: 0px 0px 0px 240px;
 }
