<!doctype html>
<!--
Copyright 2017-11-24
Remy BOISSEZON boissezon.remy@gmail.com
Valentin PRODHOMME valentin@prodhomme.me
Dylan TROLES chill3d@protonmail.com
Alexandre ZANNI alexandre.zanni@engineer.com

This software is governed by the CeCILL license under French law and
abiding by the rules of distribution of free software.  You can  use,
modify and/ or redistribute the software under the terms of the CeCILL
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info".

The fact that you are presently reading this means that you have had
knowledge of the CeCILL license and that you accept its terms.
-->
<html>
  <head>
    <meta name="charset" content="utf-8">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Dashboard left navigation section -->
    <nav id="dashboard_navigation" class="ui inverted attached fixed vertical menu">
      <div class="header item">
        <span>Database</span>
      </div>
      <a class="link item <%= active_link_to_class('/vulnerabilities', active: :inclusive) %>" href="<%= url_for({ controller: 'vulnerabilities', action: 'list' }) %>">Vulnerabilities <i class="bug icon"></i></a>
      <div class="header item">
        <span>Results</span>
      </div>
      <a class="link item  <%= active_link_to_class('/summary', active: :inclusive) %>" href="<%= url_for({ controller: 'summary', action: 'home' }) %>">Summary <i class="area chart icon"></i></a>
      <a class="link item  <%= active_link_to_class('/hosts', active: :inclusive) %>" href="<%= url_for({ controller: 'hosts', action: 'list' }) %>">Hosts <i class="desktop icon"></i></a>
      <a class="link item <%= active_link_to_class('/assessments', active: :inclusive) %>" href="<%= url_for({ controller: 'assessments', action: 'list' }) %>">Assessments <i class="file text icon"></i></a>
      <div class="header item">
        <span>System</span>
      </div>
      <a class="link item" href="#">Settings <i class="settings icon"></i></a>
    </nav>
    <!-- Dashboard top status section -->
    <div id="dashboard_status" class="ui inverted menu fixed">
      <div id="dashboard_logo" class="item">
        <a class="ui icon centered logo image" href="<%= root_path %>"><img src="<%= image_url('canvas-dashboard.svg') %>" alt="CANVAS"></a>
      </div>
      <div class="right menu">
        <div class="ui simple dropdown item">
          <span><i class="flag outline icon"></i><i class="dropdown icon"></i></span>
          <div class="menu">

          </div>
        </div>
        <div class="ui simple dropdown item">
          <span><i class="user icon"></i>account@placeholder<i class="dropdown icon"></i></span>
          <div class="menu">
            <a class="item" href="#"><i class="settings icon"></i>Account settings</a>
            <a class="item" href="#"><i class="sign out icon"></i>Sign out</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Dashboard page content section -->
    <section id="dashboard_content" class="ui grid">
      <%= yield %>
    </section>
  </body>
</html>
